html,body { height: 100%; }

body {
  background-image: url('images/bg.jpg');
  background-size: auto 100%;
  background-position: bottom left;
  background-attachment: fixed;
  background-color: #aaaaaa;
}

kbd {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .2rem !important;
}

#apt_point_sum {
  text-align: center;
  line-height: 37px;
  height: 37px;
  display: inline-block;
  width: 361px;
  border: 1px solid;
  border-top: none;
  border-left: none;
}

#apt_col {
  display:none;
}

.btn-xs {
  border: 1px solid #e0e0e0;
}

.common-dice {
  padding: 0.5rem 0.8rem !important;
}

.dc_dice_a {
  color: #FF8888;
}
.dc_dice_d {
  color: #00BB00;
}
.dc_number {
  color: #8888FF;
}
.dc_operator:before,
.dc_operator:after {
  content: "\00a0 ";
}

#strength, #strength-base {
  /* background-color: #8f0e0e; */
  background-color: #79541c;
  color:white;
}
#intellect, #intellect-base {
  /* background-color: #0e1b8f; */
  background-color: #e93e0a;
  color:white;
}
#dexterity, #dexterity-base {
  /* background-color: #d13100; */
  background-color: #3f8315;
  color:white;
}
#constitution, #constitution-base {
  /* background-color: #19630a; */
  background-color: #a7142d;
  color:white;
}
#willpower, #willpower-base {
  /* background-color: #4a0a63; */
  background-color: #533ab6;
  color:white;
}
#size, #size-base {
  /* background-color: #3f3f3f; */
  background-color: #3f3f3f;
  color:white;
}
#charisma, #charisma-base {
  /* background-color: #af1273; */
  background-color: #151468;
  color:white;
}
#luck, #luck-base {
  /* background-color: #7e7500; */
  background-color: #165c85;
  color:white;
  border-bottom: 1px solid white !important;
}
#gold {
  background-color: #ffd900;
  color:black;
  border-top: 1px solid white !important;
  font-size: 12px;
}

#charsheet {
  margin-left: 25px;
  margin-right: 25px;
}

.char_summary * {
  border-radius: 0 !important;
}
.char-stats * {
  font-family: monospace;
  font-size: 12px !important;
}

.char-stats .col-xs-3 {
  padding-left: 5px;
  padding-right: 5px;
}

.char_stats_panel {
  padding-top: 5px;
  padding-bottom: 0;
  padding-right: 18px;
}
.char_stats_panel div {
  padding: 0 !important;
  text-align: center !important;
}

#charsheet.mini .panel-primary {
  width: 320px;
  float: right;
  margin: 5px;
}

.po_label {
  color: white;
  /* margin-left: -27px; */
  float: right;
  position: absolute;
  top: 0;
  right: 8px;
  line-height: 33px;
}

.hp_pp_slash {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 23px;
  display: inline-block;
  background-color: #ffffff11;
}

#charsheet .card, .char_summary > .panel-default {
  /*border-width: 2px;*/
  /*background-color: #000000cc !important;*/
  /*color: white !important;*/
  /*box-shadow: 1px 1px 10px #000000;*/
  /*margin-bottom: 5px;*/
  /*background-color: rgba(0,0,0,0.5);*/
  /*color: black !important;*/
}

#charsheet .card-header {
  padding:5px;;
}

.card-header p {
  margin: 0;
  padding: 0;
}
/*
tr.odd {
  background-color: #ffffff22 !important;
}
tr.odd:hover {
  background-color: #ffffff33 !important;
}

tr.even {
  background-color: #ffffff00 !important;
}
tr.even:hover {
  background-color: #ffffff11 !important;
}
*/

#charsheet .panel-primary, #charsheet .panel-heading, #charsheet .panel-body {
  border-color: white !important;
}

#charsheet .panel-heading {
  background-color: #00005588 !important;
  color: white !important;
}

#charsheet input {
  color: #a5bfef !important;
  font-weight: bold;
}

.char_summary .progress {
  border: 1px solid white;
}

#hp_cur, #pp_cur {
  border-right: none !important;
  width: 30%;
  text-align: center;
  border-right: none !important;
  padding-top:1px;
}

#hp_max, #pp_max, #alignement {
  border-left: none !important;
  text-align: center;
  width: 30%;
  padding-top:1px;
}

#charsheet hr {
  border-color: white !important;
  margin-left: -9px;
  margin-right: -9px;
}

#charsheet .text-info, fieldset .text-info {
  color: lightblue;
}

#charsheet .text-warning, fieldset .text-warning {
  color: #ffd54f;
}

.site-content-wrapper {
  height: 100%;
}

#footer {
  height: 28px;
  line-height:28px;
}

#footer .navbar-text {
  margin-top: 0 !important;
}

.popover {
  min-width:300px;
}

hr.news {
  width: 50%;
  margin: 20px auto;
}

.fieldset {
  margin-bottom: 0 !important;
}

fieldset .panel, .fieldset .panel {
  /*box-shadow: 0 0 3px rgba(0,0,0,1) inset;*/
  border: 1px solid white !important;
  background-color: #ffffff22;
  border-color: white !important;
  color: white;
}

fieldset, .fieldset
{
  border: 1px solid #ddd !important;
  margin: 0;
  min-width: 0;
  padding: 10px 10px 0 10px;
  position: relative;
  border-radius:4px;
  background-color: rgba(245,245,245,0.40);
  padding-left:10px!important;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: rgba(255,255,255,0.75);
}

label.char {
  width:40%;
  /*font-size: 11px;*/
  text-align: center;
}

.input-underline {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-family: monospace;
  /*margin-left: 10px;*/
  padding: 0;
  width: 60%;
}

.input-underline:focus {
  outline: none;
  /*background-color: #f0f0f0;*/
}

.panel-news {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: #f8f8f8;
}

.news-content {
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: justify;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}

.news-footer {
  margin:0;
  padding:0;
}

.staff-role {
  line-height: 13px;
  font-size: 10px;
  padding: 0 5px 0 5px !important;
  margin-bottom: 0;
  margin-top: 3px;
}

ul.staff {
  padding: 0 0 0 5px;
  margin:0;
}

.alert-default {
  color: #8748a2;
  background-color: #e9dbef;
  border-color: #d3b8df;
}

.alert-primary {
  color: #484fa2;
  background-color: #dbdcef;
  border-color: #b7bbdf;
}

.btn, .card, .progress {
  border-radius:0 !important;
}

.card {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19) !important;
}

.btn-xs {
  width:25px;
  height:25px;
  padding:0;
  border-radius: 0;
  margin: 0;
}

.btn-xxs {
  width:22px;
  height:22px;
}

/* ======================================================== */
/* NAVBAR CUSTOM                                            */
/* ======================================================== */
/*nav { box-shadow: 0 0 20px rgba(0,0,0,0.3); background-color: rgba(248, 248, 248, 0.8) !important; }*/
/*.navbar-login { margin-top: 5px; margin-right: -25px; }*/
/*.nav_login_input { width: 150px !important; }*/
/*.navbar-primary .navbar { border-bottom:none; }
.navbar-primary .navbar .nav > li > a {}
.navbar-primary .navbar .nav > li > a:hover {}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {}
.navbar-primary .navbar .navbar-brand {}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}

.navbar-xs .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }*/

/* ======================================================== */
/* SERVER STATUS CIRCLE TOP                                 */
/* ======================================================== */
#server_status_wrapper {
  position:         fixed;
  left:             50%;
  z-index:          99999;
}
#server_status {
  width:            250px;
  height:           250px;
  position:         relative;
  top:              -165px;
  background-color: #f8f8f8;
  border:           1px solid #e7e7e7;
  border-radius:    1000px;
  z-index:          999999;
  box-shadow:       0 0 20px rgba(0,0,0,0.3);
  left:             -50%;
}
#online_players {
  font-size:        28px;
  position:         relative;
  top:              64%;
  color:            #122b40;
  text-shadow:      0 0 5px rgba(0,0,0,0.5);
  text-align:       center;
  font-weight:      bold;
}
#online_players_label {
  position:         relative;
  top:              56%;
  text-align:       center;
  font-size:        12px;
}
#server_status_frame {
  position:         relative;
  top:              54%;
  text-align:       center;
  font-size:        12px;
}
.server_status {
  height: 20px !important;
  width:  20px !important;
  border-radius: 20px;
  padding:       0;
  margin-left:   2px;
  margin-right:  2px;
  line-height:   16px;
}
.server_status span {
  margin:  0;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
}
/* ======================================================== */
/* INPUT GROUP ADDONS EXTENDED                              */
/* ======================================================== */
.input-group-addon {
  max-width:        35px;
}
.input-group-addon.primary {
  color:            rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color:     rgb(40, 94, 142);
}
.input-group-addon.success {
  color:            rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color:     rgb(76, 174, 76);
}
.input-group-addon.info {
  color:            rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color:     rgb(38, 154, 188);
}
.input-group-addon.warning {
  color:            rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color:     rgb(238, 162, 54);
}
.input-group-addon.danger {
  color:            rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color:     rgb(212, 63, 58);
}
/* ======================================================== */
/* GENDER BUTTONS                                           */
/* ======================================================== */
.head-male {
  width:            27px;
  height:           26px;
  margin-bottom:    14px;
  background:       url(images/heads.png) -135px -40px;
  display:          inline-block;
}
.head-female {
  width:            24px;
  height:           40px;
  background:       url(images/heads.png) -96px 0;
  display:          inline-block;
}

/* ======================================================== */
/* CHARACTER PANEL                                          */
/* ======================================================== */

@media screen and (max-width: 1024px) {
  .class-race {
    text-align: left !important;
  }
}
@media screen and (min-width: 1025px) {
  .class-race {
    text-align: center !important;
  }
}

.panel-default > .panel-heading {
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  font-family: monospace
}

.panel-default > .panel-body {
  background: none;
}

.char-stats .panel {
  margin-bottom: 10px;
}

.card-body {
  /*padding: 0 !important;*/
  border-radius: 0px;

}
/* ======================================================== */
/* PROGRESS BARS                                            */
/* ======================================================== */

.resource-bar {
  margin: 3px;
  border: 1px solid black;
  height:25px !important;
}

.progress {
  height: 35px;
  position: relative;
}
.progress .skill {
  color:white;
  font: normal 16px monospace;
  line-height: 23px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  position: absolute;
  left: 0;
  width: 100%;
  /*  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}
.progress .skill .lbl {
  float: left;
  font-style: normal;
  margin: 0 0 0 5px;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 5px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

.skill-bar {
  background-color: #ffd0d0;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

#bar_light {
  font: normal 16px monospace;
  width:50%;
  background-color: #eebb33;
  text-align: center;
  line-height:23px;
  text-shadow: 1px 1px 3px black;
}

#bar_dark {
  font: normal 16px monospace;
  width:50%;
  background-color: #000033;
  text-align: center;
  line-height:33px;
}

#story {
  width: 100%;
  min-height: 100%;
  resize: none;
}

#inventory {
  padding: 0;
  max-height: 386px;
  overflow-y: auto;
  overflow-x: hidden;
}

#inventory table {
  margin: -1px 0 -1px 0 !important;
  border-radius: 0 0 3px 3px
}

#skills {
  padding:0;
  overflow-y: auto;
  max-height: 386px;
  overflow-x: hidden;
}

#orientation {
  margin: 3px;
  border: 1px solid black;
  height:25px !important;
}

.th-modif-btn {
  width:30px;
}

table.dataTable {
  margin: 0 !important
}

.dataTables_wrapper.container-fluid {
  padding: 0 !important;
}

.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #212121;
  border-radius: 5px; }

.scrollbar-black::-webkit-scrollbar {
  width: 5px;
  background-color: #212121; }

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke; }

.table-dark.table-striped tbody tr.active {
  border-left: 7px solid darkred;
  border-right: 7px solid darkred;
}

.table-dark.table-striped tbody tr.active td {
  font-weight: bold;
  color: wheat;
}

.btn-char {
  width: 20px;
  height: 20px;
}

.btn-char i {
  font-size: 12px !important;
  line-height: 20px;
}

.card-char-title {
  font-size: 12px !important;
  color:white !important;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5), -1px -1px 4px rgba(0,0,0,0.5), 1px -1px 4px rgba(0,0,0,0.5), -1px 1px 4px rgba(0,0,0,0.5);
  line-height: 20px;
}

.char-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 31px !important;
  padding:0 !important;
  height: 33px !important;
}

/* #gold {
  border: none !important;
  height: 31px !important;
  padding: 0 !important;
} */

.carac, #gold {
  padding: 0 !important;
  width:37px;
  height:37px;
  line-height:37px;
  text-align:center;
  border: 1px solid white;
  border-top:none;
  border-right:none;
}

.text-info {
  border-left: none !important;
}

#story-card-body {
  height: 162px;
}

.carac_line {
  height:37px !important;
  line-height: 36px;
  width:100%;
  text-align: right;
}

#sidebar_left::-webkit-scrollbar {
  display: none;
}
#sidebar_left {
  width:250px;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  max-height:100vh;
  overflow-y: auto;
  z-index: 1;
  padding-top:56px;
  margin-left: -212px;
}

#skill_table {
  /* font-family: monospace; */
}

#skill_table td {
  vertical-align: middle;
  /* font-size: 10px !important; */
}

td.nowrap {
  white-space: nowrap;
}

#sidebar_right {
  width:400px;
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  max-height:100vh;
  overflow-y: auto;
  z-index: 2;
  padding-top:56px;
  margin-right: -362px;
}

#story {
  border-radius: 0 !important;
  /* border: none; */
  padding: 3px;
  text-align: justify;
  font-family: monospace;
  font-size: 11px;
}

#apt_table {
  border-top:none;
  margin-left:-1px;
  margin-top:-1px;
}

#apt_table, #apt_table * {
  border-collapse: collapse !important;
  border-left: none;
  border-spacing: 0;
}

#apt_table th {
  text-align: center;
}

#apt_table td, #apt_table th {
  font-size: 12px;
  font-family: monospace;
  padding: 0px;
  padding-left: 8px;
  margin: 0;
  vertical-align: middle;
}

.stat_col {
  width:100%;
  float:right;
  margin-top:-1px;
}

.stat-base {
  width:37px;
  height:37px;
  display: inline-block;
  border: 1px solid white;
  padding:0;
  margin:0;
  text-align:center;
  line-height:36px;
}

.carac_label {
  display: inline-block;
  width:130px;
  text-align:left;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,0.33);
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.03);
}

#apt_table tr:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.8);
  -moz-box-shadow:    inset 0px 0px 10px 0px rgba(255,255,255,0.8);
  box-shadow:         inset 0px 0px 10px 0px rgba(255,255,255,0.8);
}